BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
DATABASE_URL=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
CLOUDFLARE_R2_ACCOUNT_ID=""
CLOUDFLARE_R2_ACCESS_KEY_ID=""
CLOUDFLARE_R2_SECRET_ACCESS_KEY=""
CLOUDFLARE_R2_BUCKET_NAME=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""